@model GameDatabase.Models.GameViewModel
@{
    ViewData["Title"] = @Model.Name;
}

<section id="about" class="section-padding">
    <div class="container">
        <div class="game-page-title">
            <h1>@Model.Name</h1>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="img-thumb wow fadeInLeft">
                    <img id="cover" style="margin-top:0px; margin-left:40%" class="img-fluid" src="@Model.CoverArtUrl" alt="Cover" width="350" height="475">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="profile-wrapper wow fadeInRight">
                    <div class="about-profile">
                        <div align="left" class="jumbotron">
                            Developer: <p>@Model.Developer </p>
                            <p><a class="btn bg-primary" asp-controller="Developers" asp-action="Details" asp-route-id="@Model.DeveloperId">Details </a></p>
                            Publisher: <p>@Model.Publisher  </p>
                            <p><a class="btn bg-primary" asp-controller="Publishers" asp-action="Details" asp-route-id="@Model.PublisherId">Details </a></p>    
                            Genre: <p>@Model.Genre  </p>
                            Platform: <p>@Model.Platform </p>
                            Description: <p>@Model.Description </p>
                        </div>
                    </div>
                    <a class="btn bg-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                    <a class="btn bg-primary" asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</section>
<hr />  
<div class="container">
    <div class="row">
        <div>
            <hr />
            <h1>Reviews</h1>
            <hr />
            @foreach (var review in Model.Reviews)
            {
                <h3>@review.Title</h3>
                <h5>Author: @review.AuthorName</h5>
                <hr />
                <div align="left" class="jumbotron">
                    <p>@review.Text</p>
                </div>
                @if (User.Identity.Name == review.AuthorName)
                {
                    <a class="btn bg-primary" asp-controller="Reviews" asp-action="Delete" asp-route-id="@review.Id">Delete Review</a>
                    <a class="btn bg-primary" asp-controller="Reviews" asp-action="Edit" asp-route-id="@review.Id">Edit Review</a>
                }
                <hr />
            }
            <a class="btn bg-primary" asp-controller="Reviews" asp-action="Create" asp-route-id="@Model.Id">Review Game</a> |
            <hr />
        </div>
    </div>
</div>
