@model PaginatedList<GameDatabase.Models.GameViewModel, GamesDatabaseBusinessLogic.Models.SearchObjectGames>

@{
    ViewData["Title"] = "Games";
}

<h1>Games</h1>
<a asp-action="Create">Add Game</a>
<hr />

<nav>
    @using (Html.BeginForm("SearchGames", "Games", FormMethod.Post))
    {
        <label>Genre: </label>
        <select id="genreId" name="genreId">
            @foreach (var item in Model.SearchObject.Genres)
            {
                <option value="@item.Value">@item.Text</option>//if the value is same as text
            }
        </select>
        <label>Game Name: </label>
        <input type="text" name="Name" value="@Model.SearchObject.Name" />
        <label>Developer Name: </label>
        <input type="text" name="Developer" value="@Model.SearchObject.Developer" />
        <label>Publisher Name: </label>
        <input type="text" name="Publisher" value="@Model.SearchObject.Publisher" />
        <input type="submit" value="Search" />
    }
</nav>

<br />

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Developer
            </th>
            <th>
                Publisher
            </th>
            <th>
                Genre
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Developer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Publisher)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    <a class="btn bg-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="btn bg-primary" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a class="btn bg-primary" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>
