@model PaginatedList<GameDatabase.Models.GameViewModel>

@{
    ViewData["Title"] = "Games";
}

<h1>Games</h1>
<a asp-action="Create">Add Game</a>
<hr />

<nav>
    @using (Html.BeginForm("Index", "Games", FormMethod.Post))
    {
        <select id="genreId" name="genreId">
            @foreach (var item in Model.genres)
            {
                <option value="@item.Value">@item.Text</option>//if the value is same as text
            }
        </select>
        <input type="submit" value="Filter" />
    }
</nav>

<br />

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Developer
            </th>
            <th>
                Publisher
            </th>
            <th>
                Genre
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Developer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Publisher)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    <a class="btn bg-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="btn bg-primary" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a class="btn bg-primary" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>
